.container {
    width: 100%;
    margin: auto;
}

.first {
    width: 50%;
    float: left;
    height: 400px;
}

.second {
    width: 50%;
    float: left;
    height: 400px;
}

.clear {
    clear: both;
}